/** custom.css **/

#forecast_table th, #forecast_table td {
	padding: 4px 10px;
}

#forecast_table th {
	text-align: center;
}

#forecast_table .line_hour_0 { background-color: #dcd9f1; }
#forecast_table .line_hour_1 { background-color: #dfdcf0; }
#forecast_table .line_hour_2 { background-color: #e0deee; }
#forecast_table .line_hour_3 { background-color: #e3e1ec; }
#forecast_table .line_hour_4 { background-color: #e5e3eb; }
#forecast_table .line_hour_5 { background-color: #e8e5e8; }
#forecast_table .line_hour_6 { background-color: #eae8e7; }
#forecast_table .line_hour_7 { background-color: #eceae6; }
#forecast_table .line_hour_8 { background-color: #efece4; }
#forecast_table .line_hour_9 { background-color: #f1efe2; }
#forecast_table .line_hour_10 { background-color: #f3f1e1; }
#forecast_table .line_hour_11 { background-color: #f6f4df; }
#forecast_table .line_hour_12 { background-color: #f7f7dd; }
#forecast_table .line_hour_13 { background-color: #faf9db; }
#forecast_table .line_hour_14 { background-color: #fbf9db; }
#forecast_table .line_hour_15 { background-color: #f9efda; }
#forecast_table .line_hour_16 { background-color: #f6e6db; }
#forecast_table .line_hour_17 { background-color: #f3e0da; }
#forecast_table .line_hour_18 { background-color: #f0dbdb; }
#forecast_table .line_hour_19 { background-color: #eddae0; }
#forecast_table .line_hour_20 { background-color: #eadae2; }
#forecast_table .line_hour_21 { background-color: #e7dae4; }
#forecast_table .line_hour_22 { background-color: #e5dae5; }
#forecast_table .line_hour_23 { background-color: #e0d9e1; }





























































